name: Go CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          check-latest: true

      - name: Install dependencies
        run: go mod download

      - name: Run Unit Tests
        run: go test -v ./...

      - name: Build Docker Image
        run: docker build . --file Dockerfile --tag app-api:latest
